<!DOCTYPE html>
<html>
  <head>
    <title>Tasklist</title>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="container">
<%= render 'layout/flash_tasks' %>
<%= yield %>
    </div>
  </body>
</html>
